<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.prob.ui.ltleditor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.prob.ui.ltleditor.Perspective"
            id="de.prob.ui.ltleditor.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.prob.ui.ltl.LtlCheckingView"
            id="de.prob.ui.ltl.LtlCheckingView"
            name="LTL Model Checking"
            restorable="true">
      </view>
   </extension>

</plugin>
